@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<img class="splash "src="https://www.bulkcandystore.com/media/wysiwyg/Summer_Web_Cover_2017.png"/>

    <div class="purple">
        <p>@Html.ActionLink("View Products", "Index", "Products")</p>
    </div>
