<!DOCTYPE html>
<html>
<head>
    <link href="/Content/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8">
    <title>Six Stars Recipe Box</title>
</head>
<body>
    <div class="light">
    <div class="jumbotron">
        <div class="container">
            <img class="logo" src="https://www.bulkcandystore.com/skin/frontend/argento/bcs/images/logo@2x.png" />
        </div>
    </div>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">POPCORM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/colors">OLD FASHIONED CANDY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/brands">GIFT ITEMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/candy types">CANDY TYPES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="gifts">BRANDS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="old">COLORS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
<footer class="page-footer">
    <div class="container"
    </div>
</footer>
</html>