<!DOCTYPE html>
<html>
<head>
    <link href="/Content/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8">
    <title>Gummy Bear Kingdom</title>
</head>
<body>
    <div class="topbar">
        <ul>
            <li class="nav top">Connect with us:</li>
            <li class="nav top"><img class="sslogo"src="https://www.bulkcandystore.com/skin/frontend/argento/bcs/images/social/sketch/facebook.png" /></li>
            <li class="nav top"><img class="sslogo" src="https://www.bulkcandystore.com/skin/frontend/argento/bcs/images/social/sketch/twitter.png" /></li>
            <li class="nav top"><img class="sslogo" src="https://www.bulkcandystore.com/skin/frontend/argento/bcs/images/social/sketch/google_plus.png" /></li>
            <li class="nav top"><img class="sslogo" src="https://www.bulkcandystore.com/skin/frontend/argento/bcs/images/social/sketch/pinterest.png" /></li>
            <li class="nav top"><img class="sslogo" src="https://www.bulkcandystore.com/skin/frontend/argento/bcs/images/social/sketch/youtube.png" /></li>
            <li class="nav top">Store Locator:</li>
            <li class="nav top"><img class="sslogo" src="https://www.bulkcandystore.com/skin/frontend/argento/bcs/images/store-location.png" /></li>
            <li class="nav top">FAQs:</li>
            <li class="nav top"><img class="sslogo" src="https://www.bulkcandystore.com/skin/frontend/argento/bcs/images/got-questions.png" /></li>
            <li class="nav top">Log In:</li>
            <li class="nav top"><img class="sslogo" src="https://www.bulkcandystore.com/skin/frontend/argento/bcs/images/got-questions.png" /></li>
            <li class="nav top">(0)</li>
        </ul>
    </div>
    <div class="jumbotron">
        <div class="container">
            <img class="logo" src="https://www.bulkcandystore.com/skin/frontend/argento/bcs/images/logo@2x.png" />
        </div>
    </div>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active">POPCORN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">OLD FASHIONED CANDY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">GIFT ITEMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">CANDY TYPES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">BRANDS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">COLORS</a>
                    </li>
                </ul>
            </div>
         </div>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
<footer class="page-footer">
    <div class="container"
    </div>
</footer>
</html>